/* @font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/Montserrat.ttf");
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    font-family: "Poppins", sans-serif;
    /* font-weight: 700; */
  }
  body {
    color: white;
    background: black;
  }
}
